<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2018-2020 Headsoft. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.Headsoft.USBPorts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBPorts</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities_x86_64</key>
	<dict>
		<key>MacPro7,1-XHC0-60</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/GP13@8,1/IOPP/XHC0@0,3/XHC0@60000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>CAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Blue #4 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT1</string>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Blue #3 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT2</string>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Blue #2 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT3</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Blue #1 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT4</string>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Blue #4 (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT5</string>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Blue #3 (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT6</string>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
					<key>PRT7</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Blue #2 (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT7</string>
						<key>port</key>
						<data>BwAAAA==</data>
					</dict>
					<key>PRT8</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Blue #1 (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT8</string>
						<key>port</key>
						<data>CAAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro7,1</string>
		</dict>
		<key>MacPro7,1-XHC1-20</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/BXBR@1,2/IOPP/BYUP@0/IOPP/BYD8@8/IOPP/XHC1@0,1/XHC1@20000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>CAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Red #2 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT1</string>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Red #1 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT2</string>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Red #3 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT3</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>Comment</key>
						<string>Front: 2.0 Header #2 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>PRT5</string>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>Comment</key>
						<string>Front: 2.0 Header #1 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>PRT6</string>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
					<key>PRT7</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Red #2 (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT7</string>
						<key>port</key>
						<data>BwAAAA==</data>
					</dict>
					<key>PRT8</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Red #1 (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT8</string>
						<key>port</key>
						<data>CAAAAA==</data>
					</dict>
					<key>PRT9</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Blue #3 (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT9</string>
						<key>port</key>
						<data>CQAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro7,1</string>
		</dict>
		<key>MacPro7,1-XHC2-61</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/BXBR@1,2/IOPP/BYUP@0/IOPP/BYD8@8/IOPP/XHC2@0,3/XHC2@61000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>CgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>Comment</key>
						<string>Front: 3.1 Header #2 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT1</string>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>Comment</key>
						<string>Front: 3.1 Header #1 (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT2</string>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Type-C (USB2 Mode)</string>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>name</key>
						<string>PRT3</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Type-C (USB2 Mode reversed)</string>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>name</key>
						<string>PRT4</string>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>Comment</key>
						<string>Internal: Aura RGB Controller</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>PRT5</string>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>Comment</key>
						<string>Internal: Bluetooth Module</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>PRT6</string>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
					<key>PRT7</key>
					<dict>
						<key>Comment</key>
						<string>Front: 3.1 Header #2 (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT7</string>
						<key>port</key>
						<data>BwAAAA==</data>
					</dict>
					<key>PRT8</key>
					<dict>
						<key>Comment</key>
						<string>Front: 3.1 Header #1 (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT8</string>
						<key>port</key>
						<data>CAAAAA==</data>
					</dict>
					<key>PRT9</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Type-C (USB3 Mode)</string>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>name</key>
						<string>PRT9</string>
						<key>port</key>
						<data>CQAAAA==</data>
					</dict>
					<key>PT10</key>
					<dict>
						<key>Comment</key>
						<string>Rear: Type-C (USB3 Mode reversed)</string>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>name</key>
						<string>PT10</string>
						<key>port</key>
						<data>CgAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro7,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
